# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Manual files added
.env
db_schemas.json
all_gold_results.json
all_predicted_results.json
query_results.json
manual_check.json

# Logs
*.log

# Artifacts
artifacts/
docs/
outputs/

connect2DB.txt
AGENTS.md